* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("city.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.complaint-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.complaint-form h2 {
  background-color: #f9f494;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #057713;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #075f14;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0cab2c;
}
